// Color Variables
$primary-color: #4967aa;
$secondary-color: #6d8e8f;

$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #f0f0f0;

$border-color: #c7c7c7;

$black: #000000;
$white: #ffffff;
$gray: #eaeaea;

$body-color: #ffffff;
$header-color: #232f3e; 
$header-title-color: #232f3e; 
$footer-color: #232f3e;
$primary-background-color:#495768;
$primary-dark-background-color:#232f3e;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;
$icon-font: 'themify';
